<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FinanzasApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finanzas_independientes_app">

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:theme="@style/Theme.App.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="false" />

        <activity android:name=".presentation.onboarding.OnboardingOneActivity" android:exported="false" />
        <activity android:name=".presentation.onboarding.OnboardingTwoActivity" android:exported="false" />
        <activity android:name=".presentation.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".presentation.auth.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".presentation.auth.VerificationActivity" android:exported="false" />
        <activity android:name=".presentation.auth.NewPasswordActivity" android:exported="false" />
        <activity android:name=".presentation.business.SelectBusinessActivity" android:exported="false" />

        <activity android:name=".presentation.dashboard.DashboardActivity" android:exported="false" />
        <activity android:name=".presentation.transacciones.TransaccionesActivity" android:exported="false" />
        <activity android:name=".presentation.categorias.CategoriasActivity" android:exported="false" />
        <activity android:name=".presentation.analytics.AnalyticsActivity" android:exported="false" />
        <activity android:name=".presentation.profile.ProfileActivity" android:exported="false" />
        <activity android:name=".presentation.profile.AccountActivity" android:exported="false" />
        <activity android:name=".presentation.metas.MetaHistorialActivity" android:exported="false" />
        <activity android:name=".presentation.calendar.CalendarActivity" android:exported="false" />

    </application>

</manifest>